In [65]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold

from sklearn.linear_model import LogisticRegression

from sklearn import metrics
from sklearn.metrics import accuracy_score

## **DATA EXPLORATION:** TRAIN

In [66]:
train_df = pd.read_csv("train.csv")
train_df.head(10)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
5,5,0,1,1,T,N,Blue,Polygon,Lion,Costa Rica,...,51e27c16d,1,Novice,Freezing,j,E,PZ,2,2,0
6,6,0,1,1,T,N,Green,Trapezoid,Cat,China,...,7e3d79a0d,2,Grandmaster,Lava Hot,g,P,wy,5,4,0
7,7,1,0,1,T,Y,Red,Triangle,Dog,Russia,...,feb72ecc2,1,Novice,Lava Hot,j,K,Ed,4,2,0
8,8,1,0,1,T,Y,Blue,Square,Hamster,Canada,...,34a7273bf,2,Novice,Boiling Hot,e,V,qo,3,4,0
9,9,0,0,0,F,Y,Red,Trapezoid,Lion,China,...,0ece7a511,1,Expert,Freezing,h,Q,CZ,3,2,0

In [67]:
test_df = pd.read_csv("test.csv")
test_df['target'] = -1
test_df.head(10)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,...,3c49b42b8,2,Novice,Warm,j,P,be,5,11,-1
1,300001,0,0,0,T,N,Red,Square,Lion,Canada,...,285771075,1,Master,Lava Hot,l,A,RP,7,5,-1
2,300002,1,0,1,F,Y,Blue,Square,Dog,China,...,6f323c53f,2,Expert,Freezing,a,G,tP,1,12,-1
3,300003,0,0,1,T,Y,Red,Star,Cat,China,...,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3,-1
4,300004,0,1,1,F,N,Red,Trapezoid,Dog,China,...,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11,-1
5,300005,0,0,0,F,Y,Blue,Trapezoid,Cat,Russia,...,8c6182ca8,1,Grandmaster,Freezing,b,W,sn,2,9,-1
6,300006,0,0,0,T,Y,Green,Polygon,Cat,India,...,d45567849,1,Contributor,Freezing,j,O,qP,4,9,-1
7,300007,0,0,0,T,N,Green,Trapezoid,Axolotl,Russia,...,985eabf13,3,Contributor,Freezing,j,A,KZ,3,1,-1
8,300008,0,1,1,T,N,Red,Square,Dog,China,...,f0ca30ac1,2,Contributor,Boiling Hot,k,Q,aM,7,3,-1
9,300009,0,0,0,T,N,Green,Polygon,Axolotl,Finland,...,9bbf75daa,2,Novice,Lava Hot,h,K,xy,4,1,-1

In [68]:
merged = pd.concat([train_df, test_df], axis=0)

In [69]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 199999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      500000 non-null  int64
 1   bin_0   500000 non-null  int64
 2   bin_1   500000 non-null  int64
 3   bin_2   500000 non-null  int64
 4   bin_3   500000 non-null  object
 5   bin_4   500000 non-null  object
 6   nom_0   500000 non-null  object
 7   nom_1   500000 non-null  object
 8   nom_2   500000 non-null  object
 9   nom_3   500000 non-null  object
 10  nom_4   500000 non-null  object
 11  nom_5   500000 non-null  object
 12  nom_6   500000 non-null  object
 13  nom_7   500000 non-null  object
 14  nom_8   500000 non-null  object
 15  nom_9   500000 non-null  object
 16  ord_0   500000 non-null  int64
 17  ord_1   500000 non-null  object
 18  ord_2   500000 non-null  object
 19  ord_3   500000 non-null  object
 20  ord_4   500000 non-null  object
 21  ord_5   500000 non-null  object
 22  day     500000 non-null  int64
 23  month   500000 non-null  int64
 24  target  500000 non-null  int64
dtypes: int64(8), object(17)
memory usage: 99.2+ MB

The dataset contains no Null values

In [70]:
for column in train_df:
    print(column, " unique value length: ", len(merged[column].unique()))

id  unique value length:  500000
bin_0  unique value length:  2
bin_1  unique value length:  2
bin_2  unique value length:  2
bin_3  unique value length:  2
bin_4  unique value length:  2
nom_0  unique value length:  3
nom_1  unique value length:  6
nom_2  unique value length:  6
nom_3  unique value length:  6
nom_4  unique value length:  4
nom_5  unique value length:  222
nom_6  unique value length:  522
nom_7  unique value length:  1220
nom_8  unique value length:  2219
nom_9  unique value length:  12068
ord_0  unique value length:  3
ord_1  unique value length:  5
ord_2  unique value length:  6
ord_3  unique value length:  15
ord_4  unique value length:  26
ord_5  unique value length:  192
day  unique value length:  7
month  unique value length:  12
target  unique value length:  3

## **FEATURE ENCODING:** Train

**Feature Encoding**

Assumptions:
*   Binary: One hot encoding vs Values (Experimentation: as true or false or positive and negative values can have meaning)
*   Nominal: One hot encoding
*   Ordinal: Increasing values to have weights

### NOMINAL FEATURES

In [71]:
for idx in range(0, 5):
    column = f'nom_{idx}'
    temp = pd.get_dummies(merged[column], prefix=column)
    merged = merged.drop(columns=[column])
    merged = pd.concat([merged, temp], axis=1)

In [72]:
nom_le = preprocessing.LabelEncoder()

In [73]:
for idx in range(5, 10):
    column = f'nom_{idx}'
    nom_le.fit(merged[column])
    merged[column] = nom_le.transform(merged[column])

### BINARY FEATURES

In [74]:
merged[f'bin_3'].replace({"T" : 1, "F" : 0}, inplace=True)
merged[f'bin_4'].replace({"Y" : 1, "N" : 0}, inplace=True)

### ORDINAL FEATURES

In [75]:
print("ord_0 unique value length: ", merged['ord_0'].unique())

ord_0 unique value length:  [2 1 3]

In [76]:
print("ord_1 unique value length: ", merged['ord_1'].unique())

ord_1 unique value length:  ['Grandmaster' 'Expert' 'Novice' 'Contributor' 'Master']

In [77]:
merged[f'ord_1'].replace({"Novice" : 1, "Contributor" : 2, "Expert" : 3, "Master" : 4, "Grandmaster" : 5}, inplace=True)
print("ord_1 unique value length: ", merged['ord_1'].unique())

ord_1 unique value length:  [5 3 1 2 4]

In [78]:
print("ord_1 unique value length: ", merged['ord_2'].unique())

ord_1 unique value length:  ['Cold' 'Hot' 'Lava Hot' 'Boiling Hot' 'Freezing' 'Warm']

In [79]:
merged[f'ord_2'].replace({"Freezing" : 1, "Cold" : 2, "Warm" : 3, "Hot" : 4, "Boiling Hot" : 5, "Lava Hot" : 6}, inplace=True)
print("ord_2 unique value length: ", merged['ord_2'].unique())

ord_2 unique value length:  [2 4 6 5 1 3]

In [80]:
print("ord_3 unique value length: ", merged['ord_3'].unique())

ord_3 unique value length:  ['h' 'a' 'i' 'j' 'g' 'e' 'd' 'b' 'k' 'f' 'l' 'n' 'o' 'c' 'm']

In [81]:
ord_le = preprocessing.LabelEncoder()

In [82]:
ord_le.fit(train_df['ord_3'])
merged['ord_3'] = ord_le.transform(merged['ord_3'])
print("ord_3 unique value length: ", merged['ord_3'].unique())

ord_3 unique value length:  [ 7  0  8  9  6  4  3  1 10  5 11 13 14  2 12]

In [83]:
print("ord_4 unique value length: ", merged['ord_4'].unique())
ord_le.fit(merged['ord_4'])
merged['ord_4'] = ord_le.transform(merged['ord_4'])
print("ord_4 unique value length: ", merged['ord_4'].unique())

ord_4 unique value length:  ['D' 'A' 'R' 'E' 'P' 'K' 'V' 'Q' 'Z' 'L' 'F' 'T' 'U' 'S' 'Y' 'B' 'H' 'J'
 'N' 'G' 'W' 'I' 'O' 'C' 'X' 'M']
ord_4 unique value length:  [ 3  0 17  4 15 10 21 16 25 11  5 19 20 18 24  1  7  9 13  6 22  8 14  2
 23 12]

In [84]:
print("ord_5 unique value length: ", merged['ord_5'].unique())
ord_le.fit(merged['ord_5'])
merged['ord_5'] = ord_le.transform(merged['ord_5'])
print("ord_5 unique value length: ", merged['ord_5'].unique())

ord_5 unique value length:  ['kr' 'bF' 'Jc' 'kW' 'qP' 'PZ' 'wy' 'Ed' 'qo' 'CZ' 'qX' 'su' 'dP' 'aP'
 'MV' 'oC' 'RL' 'fh' 'gJ' 'Hj' 'TR' 'CL' 'Sc' 'eQ' 'kC' 'qK' 'dh' 'gM'
 'Jf' 'fO' 'Eg' 'KZ' 'Vx' 'Fo' 'sV' 'eb' 'YC' 'RG' 'Ye' 'qA' 'lL' 'Qh'
 'Bd' 'be' 'hT' 'lF' 'nX' 'kK' 'av' 'uS' 'Jt' 'PA' 'Er' 'Qb' 'od' 'ut'
 'Dx' 'Xi' 'on' 'Dc' 'sD' 'rZ' 'Uu' 'sn' 'yc' 'Gb' 'Kq' 'dQ' 'hp' 'kL'
 'je' 'CU' 'Fd' 'PQ' 'Bn' 'ex' 'hh' 'ac' 'rp' 'dE' 'oG' 'oK' 'cp' 'mm'
 'vK' 'ek' 'dO' 'XI' 'CM' 'Vf' 'aO' 'qv' 'jp' 'Zq' 'Qo' 'DN' 'TZ' 'ke'
 'cG' 'tP' 'ud' 'tv' 'aM' 'xy' 'lx' 'To' 'uy' 'ZS' 'vy' 'ZR' 'AP' 'GJ'
 'Wv' 'ri' 'qw' 'Xh' 'FI' 'nh' 'KR' 'dB' 'BE' 'Bb' 'mc' 'MC' 'tM' 'NV'
 'ih' 'IK' 'Ob' 'RP' 'dN' 'us' 'dZ' 'yN' 'Nf' 'QM' 'jV' 'sY' 'wu' 'SB'
 'UO' 'Mx' 'JX' 'Ry' 'Uk' 'uJ' 'LE' 'ps' 'kE' 'MO' 'kw' 'yY' 'zU' 'bJ'
 'Kf' 'ck' 'mb' 'Os' 'Ps' 'Ml' 'Ai' 'Wc' 'GD' 'll' 'aF' 'iT' 'cA' 'WE'
 'Gx' 'Nk' 'OR' 'Rm' 'BA' 'eG' 'cW' 'jS' 'DH' 'hL' 'Mf' 'Yb' 'Aj' 'oH'
 'Zc' 'qJ' 'eg' 'xP' 'vq' 'Id' 'pa' 'ux' 'kU' 'Cl']
ord_5 unique value length:  [136  93  31 134 158  53 185  17 160  11 159 170 105  90  41 147  60 116
 117  27  66   8  65 110 129 157 108 118  32 115  18  35  73  22 167 111
  80  59  82 155 139  57   6  95 120 138 145 131  92 175  33  51  19  56
 151 178  16  79 152  15 166 163  71 169 190  25  37 106 122 132 127  10
  21  52   7 114 121  91 165 102 148 150 100 144 181 113 104  77   9  72
  89 161 128  86  58  14  67 135  97 172 176 173  88 187 141  68 180  84
 183  83   0  24  76 164 162  78  20 146  34 101   4   5 143  39 171  45
 124  28  49  61 103 177 107 188  46  55 126 168 184  64  69  44  30  63
  70 174  38 154 130  40 137 189 191  94  36  99 142  50  54  43   1  75
  23 140  87 123  96  74  26  47  48  62   3 109  98 125  13 119  42  81
   2 149  85 156 112 186 182  29 153 179 133  12]

## **SPLIT:** Train and Validation

In [85]:
# for column in train_df:
#     print(column, " unique value length: ", train_df[column].unique())

In [86]:
train_df = merged[merged['target'] != -1]
test_df = merged[merged['target'] == -1]

In [87]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 299999
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                300000 non-null  int64
 1   bin_0             300000 non-null  int64
 2   bin_1             300000 non-null  int64
 3   bin_2             300000 non-null  int64
 4   bin_3             300000 non-null  int64
 5   bin_4             300000 non-null  int64
 6   nom_5             300000 non-null  int64
 7   nom_6             300000 non-null  int64
 8   nom_7             300000 non-null  int64
 9   nom_8             300000 non-null  int64
 10  nom_9             300000 non-null  int64
 11  ord_0             300000 non-null  int64
 12  ord_1             300000 non-null  int64
 13  ord_2             300000 non-null  int64
 14  ord_3             300000 non-null  int64
 15  ord_4             300000 non-null  int64
 16  ord_5             300000 non-null  int64
 17  day               300000 non-null  int64
 18  month             300000 non-null  int64
 19  target            300000 non-null  int64
 20  nom_0_Blue        300000 non-null  uint8
 21  nom_0_Green       300000 non-null  uint8
 22  nom_0_Red         300000 non-null  uint8
 23  nom_1_Circle      300000 non-null  uint8
 24  nom_1_Polygon     300000 non-null  uint8
 25  nom_1_Square      300000 non-null  uint8
 26  nom_1_Star        300000 non-null  uint8
 27  nom_1_Trapezoid   300000 non-null  uint8
 28  nom_1_Triangle    300000 non-null  uint8
 29  nom_2_Axolotl     300000 non-null  uint8
 30  nom_2_Cat         300000 non-null  uint8
 31  nom_2_Dog         300000 non-null  uint8
 32  nom_2_Hamster     300000 non-null  uint8
 33  nom_2_Lion        300000 non-null  uint8
 34  nom_2_Snake       300000 non-null  uint8
 35  nom_3_Canada      300000 non-null  uint8
 36  nom_3_China       300000 non-null  uint8
 37  nom_3_Costa Rica  300000 non-null  uint8
 38  nom_3_Finland     300000 non-null  uint8
 39  nom_3_India       300000 non-null  uint8
 40  nom_3_Russia      300000 non-null  uint8
 41  nom_4_Bassoon     300000 non-null  uint8
 42  nom_4_Oboe        300000 non-null  uint8
 43  nom_4_Piano       300000 non-null  uint8
 44  nom_4_Theremin    300000 non-null  uint8
dtypes: int64(20), uint8(25)
memory usage: 55.2 MB

In [88]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 199999
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                200000 non-null  int64
 1   bin_0             200000 non-null  int64
 2   bin_1             200000 non-null  int64
 3   bin_2             200000 non-null  int64
 4   bin_3             200000 non-null  int64
 5   bin_4             200000 non-null  int64
 6   nom_5             200000 non-null  int64
 7   nom_6             200000 non-null  int64
 8   nom_7             200000 non-null  int64
 9   nom_8             200000 non-null  int64
 10  nom_9             200000 non-null  int64
 11  ord_0             200000 non-null  int64
 12  ord_1             200000 non-null  int64
 13  ord_2             200000 non-null  int64
 14  ord_3             200000 non-null  int64
 15  ord_4             200000 non-null  int64
 16  ord_5             200000 non-null  int64
 17  day               200000 non-null  int64
 18  month             200000 non-null  int64
 19  target            200000 non-null  int64
 20  nom_0_Blue        200000 non-null  uint8
 21  nom_0_Green       200000 non-null  uint8
 22  nom_0_Red         200000 non-null  uint8
 23  nom_1_Circle      200000 non-null  uint8
 24  nom_1_Polygon     200000 non-null  uint8
 25  nom_1_Square      200000 non-null  uint8
 26  nom_1_Star        200000 non-null  uint8
 27  nom_1_Trapezoid   200000 non-null  uint8
 28  nom_1_Triangle    200000 non-null  uint8
 29  nom_2_Axolotl     200000 non-null  uint8
 30  nom_2_Cat         200000 non-null  uint8
 31  nom_2_Dog         200000 non-null  uint8
 32  nom_2_Hamster     200000 non-null  uint8
 33  nom_2_Lion        200000 non-null  uint8
 34  nom_2_Snake       200000 non-null  uint8
 35  nom_3_Canada      200000 non-null  uint8
 36  nom_3_China       200000 non-null  uint8
 37  nom_3_Costa Rica  200000 non-null  uint8
 38  nom_3_Finland     200000 non-null  uint8
 39  nom_3_India       200000 non-null  uint8
 40  nom_3_Russia      200000 non-null  uint8
 41  nom_4_Bassoon     200000 non-null  uint8
 42  nom_4_Oboe        200000 non-null  uint8
 43  nom_4_Piano       200000 non-null  uint8
 44  nom_4_Theremin    200000 non-null  uint8
dtypes: int64(20), uint8(25)
memory usage: 36.8 MB

In [89]:
y = train_df['target']
X = train_df.drop(columns=['target', 'id'])

skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)

accs = []
aucs = []

for train_index, test_index in skf.split(X, y):

    #splitting the data
    x_train_fold, x_test_fold = X.iloc[train_index], X.iloc[test_index]
    y_train_fold, y_test_fold = y[train_index], y[test_index]

    print("Shape: ", x_train_fold.shape)

    #scaling the data
    scaler = preprocessing.StandardScaler()
    x_train_fold = scaler.fit_transform(x_train_fold)
    x_test_fold = scaler.transform(x_test_fold)

    model=LogisticRegression(
        max_iter=10000,
        solver='lbfgs',
        n_jobs=-1)

    # fit the model on the train fold
    model.fit(x_train_fold, y_train_fold)

    # predict labels for test fold
    y_pred = model.predict(x_test_fold)
    
    fpr, tpr, thresholds = metrics.roc_curve(y_test_fold, y_pred)
    curr_auc = metrics.auc(fpr, tpr)
    aucs.append(curr_auc)

    curr_acc = accuracy_score(y_test_fold, y_pred)
    accs.append(curr_acc)

    print(curr_acc)
    print(curr_auc)
    if curr_acc >= max(accs):
        print("Best Model")
        best_model = model
    print('\n')

print( "Average accuracy: ", sum(accs)/len(accs))
print( "Average accuracy: ", sum(aucs)/len(aucs))

Shape:  (270000, 43)
0.7419666666666667
0.6424737811746288
Best Model


Shape:  (270000, 43)
0.7452333333333333
0.6440038964832008
Best Model


Shape:  (270000, 43)
0.7445
0.6434756598331816


Shape:  (270000, 43)
0.7419666666666667
0.6419556344851909


Shape:  (270000, 43)
0.7399
0.6374495250768595


Shape:  (270000, 43)
0.7416333333333334
0.640892588057305


Shape:  (270000, 43)
0.7434666666666667
0.6424273854019237


Shape:  (270000, 43)
0.7450333333333333
0.6418799782227126


Shape:  (270000, 43)
0.7419666666666667
0.6403412692891817


Shape:  (270000, 43)
0.7405666666666667
0.6372301923604387


Average accuracy:  0.7426233333333333
Average accuracy:  0.6412129910384623

In [100]:
X_test = test_df.drop(columns=['target', 'id'])
y_pred = best_model.predict_proba(X_test)[:,1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [101]:
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

In [104]:
submission = pd.DataFrame()

submission['id'] = test_df['id']
submission['target'] = y_pred

In [105]:
submission.head()

       id  target
0  300000     1.0
1  300001     1.0
2  300002     1.0
3  300003     1.0
4  300004     1.0

In [110]:
submission.to_csv("submission_v1.csv", index=False)